Step functions/DAPSResourceManager.asl.json
{
  "Comment": "This Step function Manages the request and approve process involved in requesting a resource to the regional managers",
  "StartAt": "Add Execution Id",
  "States": {
    "Add Execution Id": {
      "Type": "Pass",
      "Next": "Add Days To Terminate",
      "Parameters": {
        "executionId.$": "$$.Execution.Id"
      },
      "ResultPath": "$.Execution"
    },
    "Add Days To Terminate": {
      "Type": "Pass",
      "Next": "Started State",
      "ResultPath": "$.transitionProperties",
      "Result": {
        "daystowait": "4"
      }
    },
    "Started State": {
      "Type": "Pass",
      "Next": "Validate Form Token",
      "Result": {
        "isStopped": "No",
        "toTerminate": "No"
      },
      "ResultPath": "$.transitionStatus"
    },
    "Validate Form Token": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Ftoken",
          "StringMatches": "ast-8+A683=NUIoenmSE¡?DG65bpQW3Ki54vrP93;_",
          "Next": "Send Approval Request"
        }
      ],
      "Default": "Send Task Result",
      "Comment": "validates Ftoken to be correct"
    },
    "Send Task Result": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:278406292525:function:ApprovalEmailsFunction",
        "Payload": {
          "step.$": "$$.State.Name",
          "name_in_input.$": "$.name",
          "output.$": "$.output",
          "Frequest.$": "$.Frequest",
          "Fopportunity.$": "$.Fopportunity",
          "Fservice.$": "$.Fservice",
          "Fpublicip.$": "$.Fpublicip",
          "Ftimestart.$": "$.Ftimestart",
          "Ftimeend.$": "$.Ftimeend",
          "executionId.$": "$.Execution.executionId"
        }
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Send Approval Request": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:278406292525:function:ApprovalEmailsFunction",
        "Payload": {
          "step.$": "$$.State.Name",
          "name_in_input.$": "$.name",
          "token.$": "$$.Task.Token",
          "Frequest.$": "$.Frequest",
          "Fopportunity.$": "$.Fopportunity",
          "Fservice.$": "$.Fservice",
          "Fpublicip.$": "$.Fpublicip",
          "Ftimestart.$": "$.Ftimestart",
          "Ftimeend.$": "$.Ftimeend",
          "Ftoken.$": "$.Ftoken",
          "executionId.$": "$.Execution.executionId"
        }
      },
      "ResultPath": "$.output",
      "Next": "Send Approved Confirmation",
      "Catch": [
        {
          "ErrorEquals": [
            "rejected",
            "rejected_with_message"
          ],
          "ResultPath": "$.output",
          "Next": "Send Task Result"
        }
      ]
    },
    "Send Approved Confirmation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:278406292525:function:ApprovalEmailsFunction",
        "Payload": {
          "step.$": "$$.State.Name",
          "name_in_input.$": "$.name",
          "output.$": "$.output",
          "Frequest.$": "$.Frequest",
          "Fopportunity.$": "$.Fopportunity",
          "Fservice.$": "$.Fservice",
          "Fpublicip.$": "$.Fpublicip",
          "Ftimestart.$": "$.Ftimestart",
          "Ftimeend.$": "$.Ftimeend",
          "executionId.$": "$.Execution.executionId"
        }
      },
      "Next": "Choice",
      "ResultPath": null
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Ftimestart",
          "NumericEquals": 0,
          "Next": "Select Service"
        }
      ],
      "Default": "Schedule Start"
    },
    "Qlik Data": {
      "Type": "Pass",
      "Next": "DescribeTags LaunchTemplate",
      "Result": {
        "instancePassword": "6bK9BIoSmw%@?i39TyB?LDjOjtMsV!wX",
        "instanceId": "i-0a64f84b2a6c811be",
        "emailContent": "For the full detailed environment please read the following document: https://docs.google.com/document/d/1yLvwlXn9j2qLRCrvLy4Gd2RbmP2V69tZYxDCOJjAK2E"
      },
      "ResultPath": "$.machineData"
    },
    "Schedule Start": {
      "Type": "Wait",
      "Next": "Select Service",
      "TimestampPath": "$.Ftimestart"
    },
    "Select Service": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Fservice",
          "StringMatches": "SAP IDES (BW, BAPI and RFC CW)",
          "Next": "SAP Data"
        },
        {
          "Variable": "$.Fservice ",
          "StringMatches": "Test Machine",
          "Next": "Test Machine Data"
        },
        {
          "Variable": "$.Fservice ",
          "StringMatches": "Tableau Server",
          "Next": "Tableau Data"
        },
        {
          "Variable": "$.Fservice ",
          "StringMatches": "Cognos Analytics 11.1.7",
          "Next": "Cognos Data"
        },
        {
          "Variable": "$.Fservice ",
          "StringMatches": "WebFocus",
          "Next": "WebFocus Data"
        },
        {
          "Variable": "$.Fservice ",
          "StringMatches": "Qlik Sense Enterprise",
          "Next": "Qlik Data"
        },
        {
          "Variable": "$.Fservice ",
          "StringMatches": "Denodo8",
          "Next": "Denodo8"
        }
      ],
      "Comment": "validates Ftoken to be correct",
      "Default": "Pass Error"
    },
    "Cognos Data": {
      "Type": "Pass",
      "Next": "DescribeTags LaunchTemplate",
      "Result": {
        "instancePassword": "6bK9BIoSmw%@?i39TyB?LDjOjtMsV!wX",
        "instanceId": "i-0a64f84b2a6c811be",
        "emailContent": "For the full detailed environment please read the following document: https://docs.google.com/document/d/1yLvwlXn9j2qLRCrvLy4Gd2RbmP2V69tZYxDCOJjAK2E"
      },
      "ResultPath": "$.machineData"
    },
    "Tableau Data": {
      "Type": "Pass",
      "Next": "DescribeTags LaunchTemplate",
      "Result": {
        "instancePassword": "FiW)-?VL;2amFD@)IIuGIZZ&x32X!TGa",
        "instanceId": "i-02f13a20dabeaa95f",
        "emailContent": "The services may take a while to start up<p>Tableau admin credentials (port 80) admin / d3n0d0T@bleau</p> <p>Tableau server admin credentials (port 8850) administrator / FiW)-?VL;2amFD@)IIuGIZZ&x32X!TGa</p>"
      },
      "ResultPath": "$.machineData"
    },
    "WebFocus Data": {
      "Type": "Pass",
      "Next": "DescribeTags LaunchTemplate",
      "Result": {
        "instancePassword": "6bK9BIoSmw%@?i39TyB?LDjOjtMsV!wX",
        "instanceId": "i-0a64f84b2a6c811be",
        "emailContent": "For the full detailed environment please read the following document: https://docs.google.com/document/d/1yLvwlXn9j2qLRCrvLy4Gd2RbmP2V69tZYxDCOJjAK2E"
      },
      "ResultPath": "$.machineData"
    },
    "Test Machine Data": {
      "Type": "Pass",
      "Next": "DescribeTags LaunchTemplate",
      "Result": {
        "instancePassword": "TestMachinePassword",
        "instanceId": "i-058b8426fd0130b0e",
        "emailContent": "For the full detailed environment please read the following document: https://docs.google.com/document/d/1yLvwlXn9j2qLRCrvLy4Gd2RbmP2V69tZYxDCOJjAK2E  <p><strong>---IMPORTANT---:</strong> For the service to start working, you will need to connect first with RDP following the data provided in the email. \n Performing this connection will trigger the script to start the services without anymore actions required. This step is required as SAP services need an user to connect to correctly start.</p>"
      },
      "ResultPath": "$.machineData"
    },
    "SAP Data": {
      "Type": "Pass",
      "Next": "DescribeTags LaunchTemplate",
      "Result": {
        "instancePassword": "6bK9BIoSmw%@?i39TyB?LDjOjtMsV!wX",
        "instanceId": "i-0a64f84b2a6c811be",
        "emailContent": "For the full detailed environment please read the following document: https://docs.google.com/document/d/1yLvwlXn9j2qLRCrvLy4Gd2RbmP2V69tZYxDCOJjAK2E  <p><strong>---IMPORTANT---:</strong> For the service to start working, you will need to connect first with RDP following the data provided in the email. \n Performing this connection will trigger the script to start the services without anymore actions required. This step is required as SAP services need an user to connect to correctly start.</p>"
      },
      "ResultPath": "$.machineData"
    },
    "Denodo8": {
      "Type": "Pass",
      "Next": "DescribeTags LaunchTemplate",
      "Result": {
        "instancePassword": "d8-0a9e6a445dm",
        "launchTemplate": "lt-0069f99313bbad860",
        "emailContent": "For the full detailed environment please read the following document: https://docs.google.com/document/d/14IVZ_sB4IXIXfEeDxDPL8MF5x5q5Q3O6cEIf4sVK2tU"
      },
      "ResultPath": "$.machineData"
    },
    "DescribeTags LaunchTemplate": {
      "Type": "Task",
      "Next": "isStarted",
      "Parameters": {
        "Filters": [
          {
            "Name": "resource-id",
            "Values.$": "States.Array($.machineData.launchTemplate)"
          },
          {
            "Name": "key",
            "Values.$": "States.Array($.name)"
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeTags",
      "ResultPath": "$.started"
    },
    "isStarted": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.started.Tags[0].Key",
              "IsPresent": true
            },
            {
              "Variable": "$.started.Tags[0].Key",
              "StringEqualsPath": "$.name"
            }
          ],
          "Next": "DescribeInstances"
        }
      ],
      "Default": "Initiate-Terminate EC2 Instance"
    },
    "DescribeInstances": {
      "Type": "Task",
      "Next": "Start-Stop EC2 Instance",
      "Parameters": {
        "Filters": [
          {
            "Name": "instance-state-name",
            "Values": [
              "running",
              "shutting-down",
              "stopping",
              "stopped"
            ]
          },
          {
            "Name": "tag:Owner",
            "Values.$": "States.Array($.name)"
          },
          {
            "Name": "tag:Name",
            "Values.$": "States.Array($.Fservice)"
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "ResultSelector": {
        "instanceId.$": "$.Reservations[0].Instances[0].InstanceId"
      },
      "ResultPath": "$.machineData.execution"
    },
    "Pass Error": {
      "Type": "Pass",
      "Next": "Send Task Result",
      "ResultPath": null
    },
    "Start-Stop EC2 Instance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:us-east-1:278406292525:stateMachine:DAPSstart-stopMachine",
        "Input": {
          "step.$": "$$.State.Name",
          "name.$": "$.name",
          "daystowait.$": "$.transitionProperties.daystowait",
          "Frequest.$": "$.Frequest",
          "Fopportunity.$": "$.Fopportunity",
          "Fservice.$": "$.Fservice",
          "Fpublicip.$": "$.Fpublicip",
          "Ftimestart.$": "$.Ftimestart",
          "Ftimeend.$": "$.Ftimeend",
          "machineData.$": "$.machineData",
          "output.$": "$.output",
          "transitionStatus.$": "$.transitionStatus",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "Next": "Send Task Result",
      "ResultPath": null
    },
    "Initiate-Terminate EC2 Instance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:us-east-1:278406292525:stateMachine:DAPSinitiate-terminateMachine",
        "Input": {
          "step.$": "$$.State.Name",
          "name.$": "$.name",
          "daystowait.$": "$.transitionProperties.daystowait",
          "Frequest.$": "$.Frequest",
          "Fopportunity.$": "$.Fopportunity",
          "Fservice.$": "$.Fservice",
          "Fpublicip.$": "$.Fpublicip",
          "Ftimestart.$": "$.Ftimestart",
          "Ftimeend.$": "$.Ftimeend",
          "machineData.$": "$.machineData",
          "output.$": "$.output",
          "transitionStatus.$": "$.transitionStatus",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "Next": "Send Task Result",
      "ResultPath": null
    }
  }
}