Step functions/DAPSstart-stopMachine.asl.json
{
  "Comment": "Step function to start/stop instances",
  "StartAt": "Start-Stop EC2 Instance",
  "States": {
    "Start-Stop EC2 Instance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:278406292525:function:StartMachineById",
        "Payload": {
          "step.$": "$$.State.Name",
          "name_in_input.$": "$.name",
          "daystowait.$": "$.daystowait",
          "Frequest.$": "$.Frequest",
          "Fopportunity.$": "$.Fopportunity",
          "Fservice.$": "$.Fservice",
          "Fpublicip.$": "$.Fpublicip",
          "Ftimestart.$": "$.Ftimestart",
          "Ftimeend.$": "$.Ftimeend",
          "instanceId.$": "$.machineData.execution.instanceId",
          "instancePassword": "$.machineData.instancePassword",
          "isStopped.$": "$.transitionStatus.isStopped"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "is Stopped",
      "ResultPath": "$.execution"
    },
    "is Stopped": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transitionStatus.isStopped",
          "StringEquals": "Yes",
          "Next": "Unassign Instance Security Group"
        }
      ],
      "Default": "Create Security Group"
    },
    "Unassign Instance Security Group": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:278406292525:function:AddSecurityGroupByInstanceId",
        "Payload": {
          "instanceId.$": "$.machineData.execution.instanceId",
          "isStopped.$": "$.transitionStatus.isStopped",
          "GroupId.$": "States.Array($.SecurityGroup.GroupId)"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "DeleteSecurityGroup",
      "ResultPath": null
    },
    "Create Security Group": {
      "Type": "Task",
      "Next": "Add Instance Security Group",
      "Parameters": {
        "Description.$": "$.machineData.execution.instanceId",
        "GroupName.$": "$.AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID",
        "VpcId": "vpc-043158a49f541d48c",
        "TagSpecifications": [
          {
            "ResourceType": "security-group",
            "Tags": [
              {
                "Key": "Manager",
                "Value": "Admin"
              }
            ]
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:createSecurityGroup",
      "ResultPath": "$.SecurityGroup"
    },
    "Add Instance Security Group": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:278406292525:function:AddSecurityGroupByInstanceId",
        "Payload": {
          "instanceId.$": "$.machineData.execution.instanceId",
          "isStopped.$": "$.transitionStatus.isStopped",
          "GroupId.$": "States.Array($.SecurityGroup.GroupId)"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Open Access By Public IP",
      "ResultPath": null
    },
    "Open Access By Public IP": {
      "Type": "Task",
      "Next": "Send Running Notification",
      "Parameters": {
        "CidrIp.$": "$.Fpublicip",
        "GroupId.$": "$.SecurityGroup.GroupId",
        "IpProtocol": "-1"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:authorizeSecurityGroupIngress",
      "ResultPath": null
    },
    "DeleteSecurityGroup": {
      "Type": "Task",
      "Parameters": {
        "GroupId.$": "$.SecurityGroup.GroupId"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:deleteSecurityGroup",
      "ResultPath": null,
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.transitionStatus.toTerminate",
          "StringEquals": "Yes",
          "Next": "Terminate Ec2 Instance"
        }
      ],
      "Default": "Success"
    },
    "Terminate Ec2 Instance": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:us-east-1:278406292525:stateMachine:DAPSinitiate-terminateMachine",
        "Input": {
          "step.$": "$$.State.Name",
          "name.$": "$.name",
          "daystowait.$": "$.daystowait",
          "Frequest.$": "$.Frequest",
          "Fopportunity.$": "$.Fopportunity",
          "Fservice.$": "$.Fservice",
          "Fpublicip.$": "$.Fpublicip",
          "Ftimestart.$": "$.Ftimestart",
          "Ftimeend.$": "$.Ftimeend",
          "machineData": {
            "launchTemplate.$": "$.machineData.launchTemplate",
            "execution": {
              "instanceId.$": "$.machineData.execution.instanceId",
              "terminationDate.$": "$.execution.Payload.terminationDate"
            }
          },
          "output.$": "$.output",
          "SecurityGroup.$": "$.SecurityGroup",
          "transitionStatus.$": "$.transitionStatus",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "End": true
    },
    "Success": {
      "Type": "Succeed"
    },
    "Send Running Notification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:278406292525:function:ApprovalEmailsFunction",
        "Payload": {
          "step.$": "$$.State.Name",
          "name_in_input.$": "$.name",
          "output.$": "$.output",
          "Fpublicip.$": "$.Fpublicip",
          "Ftimestart.$": "$.Ftimestart",
          "Ftimeend.$": "$.Ftimeend",
          "executionId.$": "$.AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID",
          "instancePassword.$": "$.machineData.instancePassword",
          "instancePublicIp.$": "$.execution.Payload",
          "emailContent.$": "$.machineData.emailContent"
        }
      },
      "Next": "Schedule Stop",
      "ResultPath": null
    },
    "Schedule Stop": {
      "Type": "Wait",
      "TimestampPath": "$.Ftimeend",
      "Next": "Stopped State"
    },
    "Stopped State": {
      "Type": "Pass",
      "Next": "Start-Stop EC2 Instance",
      "Result": {
        "isStopped": "Yes",
        "toTerminate": "Yes"
      },
      "ResultPath": "$.transitionStatus"
    }
  }
}